*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family : Arial, Helvetica, sans-serif;
    background:rgb(22, 22, 17);

    h1{
        font-size: 100px;
    }

    padding : 80px;

    text-align :center;
    color:white;
}